{% extends 'base.html' %}

{% block content %}
    <h2>Catalogo</h2>
    <div class="product-list-container">
        {% for product in products %}
            <div key="{{ product.id }}">
                <h3>{{ product.name }}</h3>
                <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200" height="150">
                <p>{{ product.description }}</p>
                <p>${{ product.price }}</p>
                <p>Stock: {{ product.stock }}</p>
                <form method="post" action="{% url 'payment_view' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit">Comprar</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}

<!-- Paginación -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>